body {
	margin: 5px 0 0 0;
	padding: 0;
	background: #000;
	color: #e7e7e7;
	font-family: Arial, Tahoma;
	font-size: 14px;
	line-height: 17px;
}
#wrapper {
	width: 670px;
	margin: 0 auto;
}
#chat {
	display: block;
	width: 450px;
	height: 450px;
	padding: 20px;
	overflow: auto;
	margin: 8px 0 20px 0;
	border: 1px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
}
#chat table {
	padding: 0;
	border-collapse: collapse;
}
#chat td {
	padding: 4px 6px 4px 6px;
	vertical-align: middle;
	font-size: 12px;
}
#chat td strong {
	text-weight: normal;
	color: #CC0000;
}
#chat td b {
	font-size: 9px;
}
#chat td span {
	display: block;
	color: #666;
	font-size: 8px;
	line-height: normal;
}
#chat td img {
	margin-bottom: -4px;
}
#chat td:first-child {
	padding-right: 10px;
}
#form {
	width: 450px;
	margin: 0 0 0 24px;
}
#form input {
	border: 1px solid #fff;
	background: #232323;
	color: #fff;
	font-family: Arial, Tahoma;
	padding: 6px 30px 6px 6px;
	width: 90%;
}
#chatform img {
	margin: 0 0 -4px -23px;
	cursor: pointer;
}
h1 {
	width: 400px;
	margin: 10px 0 0 0;
	padding-left: 24px;
	font-size: 22px;
	color: #666;
}
h2 {
	width: 180px;
	margin: 20px 0 0 0;
	padding: 0;
	padding-left: 24px;
	font-size: 16px;
	color: #666;
}
h3 {
	width: 400px;
	margin: 4px 0 0 0;
	padding: 0;
	padding-left: 24px;
	font-size: 16px;
	color: #666;
}
h2 span {
	font-size: 9px;
}
#players {
	display: block;
	width: 160px;
	height: 450px;
	padding: 20px;
	margin: 0 0 20px 0;
	border: 1px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	overflow: auto;
}
#count {
	color: #666;
	text-align: left;
	font-size: 9px;
	margin: 0 0 0 24px;
}
#players .inner ul, #players .inner ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 16px;
}
#players .inner ul li {
	padding: 4px;
	font-size: 11px;
}
#lastcmds {
	position: relative;
	display: block;
	width: 490px;
	height: 90px;
	margin: 20px 0 0 0;
	border: 1px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	font-size: 11px;
	color: #666;
	line-height: 18px;
}
#lastcmds img {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
#lastcmds .inner {
	overflow: auto;
	padding: 10px 20px 20px 20px;
	height: 60px;
}
#addadmin {
	position: relative;
	display: block;
	width: 160px;
	height: 120px;
	padding: 0 0 0 20px;
	margin: 10px 0 0 4px;
	text-align: left;
}
#addadmin img {
	position: absolute;
	top: -26px;
	right: 6px;
	cursor: pointer;
}
#addadmin .inner {
	overflow: auto;
	padding: 10px 20px 20px 20px;
	height: 120px;
}
#addadmin ul, #paddadmin li {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 15px;
}
#addadmin ul li {
	padding: 0;
	font-size: 11px;
}
#addadmin table {
	padding: 0;
	width: 95%;
	border-collapse: collapse;
}
#addadmin td {
	font-size: 11px;
	line-height: 15px;
	padding: 0;
}
#addadmin td span {
	float: right;
	color: #00cc00;
	font-size: 9px;
}
#addadmin a {
	color: #5e4949;
	text-decoration: none;
}
#addadmin a:hover {
	color: #cc0000;
	text-decoration: underline;
}
#commands {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #000;
	width: 640px;
	height: 340px;
	margin-top: -170px;
	margin-left: -320px;
	border: 2px solid #222;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
	box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
}
#commands .inner {
	padding: 20px;
	height: 300px;
	overflow: auto;
}
#commands a {
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 6px;
	right: 6px;
	background: #CC0000;
	padding: 0px 4px 0px 4px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#commands table {
	padding: 0;
	width: 99%;
	border-collapse: collapse;
}
#commands td {
	font-size: 8px;
	line-height: 15px;
	padding: 3px 0 3px 0;
	color: #bbb;
}
#commands td:first-child {
	padding-right: 10px;
	font-size: 9px;
	color: #fff;
}
#commands td.head {
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
}
#infos {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #000;
	width: 340px;
	height: 240px;
	margin-top: -120px;
	margin-left: -170px;
	border: 2px solid #222;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
	box-shadow:  0px 0px 30px 60px rgba(0, 0, 0, 0.7);
}
#infos h1 {
	margin: 20px 0 20px 0;
}
#infos table {
	padding: 0;
	margin: 0 0 0 26px;
	width: 97%;
	border-collapse: collapse;
}
#infos td {
	font-size: 8px;
	line-height: 15px;
	padding: 3px 0 3px 0;
	color: #bbb;
}
#infos a {
	color: #aaaaF8;
	text-decoration: none;
}
#infos a.close {
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 6px;
	right: 6px;
	background: #CC0000;
	padding: 0px 4px 0px 4px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#infos td:first-child {
	font-weight: bold;
	white-space: nowrap
}
.left {
	width: 490px;
	float: left;
}
.right {
	width: 160px;
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}